{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@api": "./src/api",
          "@img": "./src/img",
          "@assets": "./src/assets",
          "@ui": "./src/ui",
          "@component": "./src/component",
          "@service": "./src/service",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
